<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Cool Blog System</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="nav">
        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            {{#if isAuth}}
            <li class="right">
                <form action="/users/logout" method="POST" id="logout" style="display:none;"></form>
                <a href="javascript:document.getElementById('logout').submit();">Logout</a>
            </li>
            <li class="right">Welcome, {{user.username}}!</li>
            {{else}}
            <li class="right">
                <a href="/users/register">Register</a>
            </li>
            <li class="right">
                <a href="/users/login">Login</a>
            </li>
            {{/if}}
        </ul>

        {{{body}}}

    </div>

</body>

</html>